<div id="notice"><%= notice %></div>
<h1><%= @group['title'] %></h1><br/>

<table>
	<tr>
	  <td><strong>Год создания:</strong></td>
	  <td><%= @group['formation_year'] %></td>
	</tr>

	<tr>
	  <td><strong>Страна:</strong></td>
	  <td><%= @group['country'] %></td>
	</tr>

	<tr>
	  <td><strong>Место в хит-параде:</strong></td>
	  <td><%= @group['top_position'] %></td>
	</tr>
</table><br/>

<div class='controls'>
	<%= link_to 'Изменить', edit_group_path(@group) %> |
	<%= link_to 'Состав', group_members_path(@group['id'])%> | 
	<%= link_to 'Песни', group_songs_path(@group['id'])%> | 
	<%= link_to 'Гастроли', group_tours_path(@group['id'])%> | 
	<%= link_to 'Назад', groups_path %>
</div>