<p id="notice"><%= notice %></p>

<h1><%= @group['title'] %></h1>
<h1>Программа "<%= @tour['title'] %>"</h1>

<%= link_to 'Изменить', edit_tour_path(@tour['id']) %> |
<%= link_to 'Назад', group_tours_path(@tour['group_id']) %>

<br/><br/>

<table>
	<thead>
		<tr>
			<th>Дата</th>
			<th>Город</th>
			<th>Страна</th>
			<th>Цена билета</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @concerts.each do |concert| %>
			<tr>
				<td><%= concert['date'].to_date.strftime('%d.%m.%Y') %></td>
				<td><%= concert['city'] %></td>
				<td><%= concert['country'] %></td>
				<td><%= concert['ticket_price']%></td>
				<td><%= link_to 'Изменить', edit_concert_path(concert['id']) %></td>
        <td><%= link_to 'Удалить', concert_path(concert['id']), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
			</tr>
		<% end %>
	</tbody>

</table>

<br/>

<%= link_to 'Назад', group_tours_path(@tour['group_id']) %>
