<h1>Listing concerts</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>City</th>
      <th>Date</th>
      <th>Tour</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @concerts.each do |concert| %>
      <tr>
        <td><%= concert.country %></td>
        <td><%= concert.city %></td>
        <td><%= concert.date %></td>
        <td><%= concert.tour_id %></td>
        <td><%= link_to 'Show', concert %></td>
        <td><%= link_to 'Edit', edit_concert_path(concert) %></td>
        <td><%= link_to 'Destroy', concert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Concert', new_concert_path %>
