<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @concert.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @concert.city %>
</p>

<p>
  <strong>Date:</strong>
  <%= @concert.date %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @concert.tour_id %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
